/* Font */
@import url("https://fonts.googleapis.com/css?family=Libre Baskerville");

/* Title */
.title-container {
    height: 80px;
    max-width: 400px;
    margin: 30px auto 30px auto;
    align-content: center;
    border-bottom: 2px solid #EAAD18;
}

.title {
    font-family: 'Libre Baskerville';
    font-size: 27px;
    text-align: center;
}

/* Icon */
.icon {
    height: 30px;
    width: 30px;
}

/* Link */
a:hover {
    background-color: #E8E8E8;
    border-radius: 6px;
}

/* Button */
.btn {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #EAAD18;
    border-radius: 6px;
}

.button-text {
    font-size: 16px;
    font-weight: 600;
}

.btn:hover {
    background-color: #E8E8E8;
    border: 2px solid #EAAD18;
}

/* Nav */
.navbar {
    border-bottom: 2px solid #EAAD18;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

#logo {
    height: 40px;
    width: 40px;
    margin-right: 25px;
}

.navbar-nav {
    position: absolute;
    right: 10px;
}

.navbar-nav > li {
    padding-left: 10px;
}

.navbar-toggler {
    border: 2px solid #EAAD18;
}

.navbar-toggler:active {
    border: none;
}

/* Home */
#intro-text {
    max-width: 580px;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

#techtarget-container {
    max-width: 580px;
    margin: 30px auto auto;
}

#techtarget-button {
    width: 250px;
    margin: auto 0px auto auto;
}

/* Questions */
#questions-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

#questions-title {
    grid-column-start: 2;
}

#filter-container {
    margin-left: auto;
}

#filter-button {
    height: 50px;
    width: 50px;
    justify-content: center;
    border: none;
}

/* Offcanvas */
.offcanvas {
    width: 350px !important;
}

.offcanvas-header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.offcanvas-title {
    margin-right: auto;
}

#clear-all-link {
    margin-right: 20px;
    margin-left: auto;
    color: black;
    opacity: 0.75;
}

#clear-all-link:hover {
    background: none;
    opacity: 1;
}

.btn-close {
    margin-left: auto;
}

form#form-filter {
    margin-bottom: 0px;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
}

.list-group {
    margin-top: 10px;
}

.form-check {
    padding: 0px;
}

.form-check>label {
    padding: 2px;
    font-size: 14.5px;
    opacity: 0.75;
}

.form-check>label:hover {
    opacity: 1;
}

.form-check>label.btn {
    margin-bottom: 5px;
    border: none;
}

.btn-check:checked+.btn {
    opacity: 1;
    font-weight: 600;
    color: #EAAD18;
}

#apply-button {
    height: 50px;
    width: 135px;
    position: absolute;
    bottom: 30px;
    left: 30%;
}

/* Accordion */
.accordion {
    --bs-accordion-border-color: #EAAD18;
    --bs-accordion-border-width: 2px;
}

.body-container {
    height: 35px;
    margin-bottom: 10px;
    border-bottom: 2px solid #EAAD18;
}

#answer-container {
    margin-top: 20px;
}

.body-title {
    font-size: 18px;
}

#body-text {
    font-size: 15px;
}

/* Contact */
#card-container {
    width: 650px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    width: 300px;
    border: 2px solid #EAAD18;
    border-radius: 6px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.card-text {
    font-size: 16px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
}

#card-button {
    width: 210px;
}

/* Mobile */
@media only screen and (max-width: 450px) {
    .title {
        font-size: 22px;
    }

    #logo {
        margin-right: 20px;
    }

    .navbar-nav {
        position: relative;
        flex-direction: row;
        justify-content: end;
    }

    #card-container {
        width: auto;
        flex-direction: column;
    }

    .card {
        width: auto;
        margin-bottom: 30px;
    }
}